---
import Layout from "../layouts/Layout.astro";
import Modal from "../components/modal.astro";

type StudentSubjects = {
    name: string;
    nrc: string;
};

// Fetch data
let subjects;
try {
    const response = await fetch(
        "http://localhost:4321/api/student_info/subjects",
    );
    if (!response.ok) {
        console.error("Error fetching academic records");
    } else {
        subjects = (await response.json()) as StudentSubjects[];
    }
} catch (err) {
    console.error("Fetch error:", err);
}
---

<Layout title="Home">
    <ul>
        {
            subjects?.map((subject) => (
                <li>
                    <strong>{subject.nrc}</strong> - {subject.name}
                </li>
            ))
        }
    </ul>
    <button class="process">Iniciar proceso</button>
    <Modal/>
</Layout>

<script>
    // Getting elements
    const processButton = document.querySelector(".process");
    const dialog = document.querySelector("dialog");

    // Adding event listener when clicking the process button
    if (processButton && dialog) {
    processButton.addEventListener("click", () => { // Show the dialog
            dialog.showModal();
        });
    }
</script>
