---
import SignInLayout from "../layouts/SignInLayout.astro";
---

<SignInLayout title="Inicio de sesión">
  <form action="/api/auth/signin" method="post">
    <div>
      <input type="email" name="email" id="email" placeholder="Correo" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Contraseña"
      />
    </div>

    <button type="submit">Iniciar sesión</button>
  </form>
</SignInLayout>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  input {
    border: 1px solid lightgray;
    border-radius: 0.3rem;
    padding: 0.5rem;
  }
  input:focus {
    border: none;
    outline: 2px solid #2d3c5a;
  }
  button {
    background: #2d3c5a;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
</style>