<dialog
    class="w-full h-full max-w-[95%] max-h-[50%] sm:max-w-lg sm:max-h-auto rounded shadow border border-[#2d3c5a]"
>
    <form
        id="submissionForm"
        method="dialog"
        class="h-full flex flex-col justify-between gap-2 p-4"
    >
        <div class="flex flex-col gap-2">
            <h1 class="text-2xl font-bold text-[#2d3c5a]">
                Solicitud de Artículo 35
            </h1>
            <h2 class="text-lg font-semibold text-[#2d3c5a]">
                Explicación de bajo desempeño
            </h2>
            <label for="reasons">
                Escribe una breve y clara explicación de los motivos por los
                cuales no has logrado acreditar las materias por las que
                incurriste en baja por Artículo 35 (Máximo 250 palabras)</label
            >
            <textarea
                id="reasons"
                name="reasons"
                maxlength="250"
                required
                class="p-2 border border-[#2d3c5a] rounded"></textarea>

            <div class="flex flex-col gap-4">
                <label>
                    <span>Sube evidencia (PDF)</span>
                    <input
                        type="file"
                        id="evidence"
                        name="evidence"
                        accept="application/pdf"
                        required
                    />
                </label>

                <label>
                    <span>Carta del tutor (PDF)</span>
                    <input
                        type="file"
                        id="guardianLetter"
                        name="guardianLetter"
                        accept="application/pdf"
                        required
                    />
                </label>
            </div>
        </div>

        <div
            class="sticky bottom-0 flex justify-around items-end gap-4 p-2 bg-white"
        >
            <button
                type="submit"
                class="bg-white p-2 text-[#2d3c5a] border border-[#2d3c5a] w-1/4 rounded hover:text-white hover:bg-[#2d3c5a]"
            >
                Enviar
            </button>
            <button
                type="button"
                id="closeModal"
                class="bg-[#2d3c5a] p-2 text-white w-1/4 rounded hover:opacity-80"
            >
                Cancelar
            </button>
        </div>
    </form>
</dialog>

<script>
    const dialog = document.querySelector("dialog");
    const closeModal = document.querySelector("#closeModal");
    const form = document.getElementById("submissionForm");
    const body = document.querySelector("body");

    if (closeModal && dialog && body) {
        closeModal.addEventListener("click", () => {
            body.classList.remove("blur");
            dialog.close();
        });
    }

    if (form && dialog) {
        form.addEventListener("submit", async (event: Event) => {
            event.preventDefault();

            const target = event.target as HTMLFormElement;
            const formData = new FormData(target);

            try {
                const response = await fetch(
                    "http://localhost:4321/api/student_info/send_request",
                    {
                        method: "PUT",
                        body: formData,
                    },
                );

                if (response.ok) {
                    alert("Solicitud enviada correctamente");
                    dialog.close();
                    target.reset();
                    window.location.reload();
                } else {
                    alert("Error al enviar la solicitud");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error al enviar la solicitud");
            }
        });
    }
</script>
