---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<aside id="sidebar">
    <header id="sidebar-header">
        <a href="/">
            <img
                id="logo"
                src="src/assets/Escudo_UdG.svg"
                alt="Escudo de la UDG"
            />
        </a>
        <span id="sidebar-title">Artículo 35</span>
        <button id="button-toggle-menu">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="26px"
                viewBox="0 -960 960 960"
                width="26px"
                fill="#2d3c5a"
                ><path
                    d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"
                ></path></svg
            >
        </button>
    </header>
    <nav id="sidebar-menu">
        <ul id="menu-list">
            <li>
                <a class={`menu-item ${currentPath === "home" ? "active" : ""}`} href="/home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="#2d3c5a"><path d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586 6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z"></path></svg>
                    <span class="menu-item-span">Inicio</span>
                </a>
            </li>

            <li>
                <a class={`menu-item ${currentPath === "student_files" ? "active" : ""}`} href="/student_files">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="#2d3c5a"><path d="M19.937 8.68c-.011-.032-.02-.063-.033-.094a.997.997 0 0 0-.196-.293l-6-6a.997.997 0 0 0-.293-.196c-.03-.014-.062-.022-.094-.033a.991.991 0 0 0-.259-.051C13.04 2.011 13.021 2 13 2H6c-1.103 0-2 .897-2 2v16c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V9c0-.021-.011-.04-.013-.062a.99.99 0 0 0-.05-.258zM16.586 8H14V5.414L16.586 8zM6 20V4h6v5a1 1 0 0 0 1 1h5l.002 10H6z"></path></svg>
                    <span class="menu-item-span">Mis documentos</span>
                </a>
            </li>

            <li>
                <a class={`menu-item ${currentPath === "student_info" ? "active" : ""}`} href="/student_info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="#2d3c5a"><path d="M9.715 12c1.151 0 2-.849 2-2s-.849-2-2-2-2 .849-2 2 .848 2 2 2z"></path><path d="M20 4H4c-1.103 0-2 .841-2 1.875v12.25C2 19.159 2.897 20 4 20h16c1.103 0 2-.841 2-1.875V5.875C22 4.841 21.103 4 20 4zm0 14-16-.011V6l16 .011V18z"></path><path d="M14 9h4v2h-4zm1 4h3v2h-3zm-1.57 2.536c0-1.374-1.676-2.786-3.715-2.786S6 14.162 6 15.536V16h7.43v-.464z"></path></svg>
                    <span class="menu-item-span">Mi información</span>
                </a>
            </li>
        </ul>
    </nav>
    <button id="sign-out" class="menu-item">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            height="26px"
            viewBox="0 -960 960 960"
            width="26px"
            fill="#2d3c5a"
            ><path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
            ></path></svg
        >
        <span class="menu-item-span">Cerrar sesión</span>
    </button>
</aside>

<style is:global>
    #logo {
        width: 25px;
        height: auto;
    }
    #sidebar-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
    }
    #sidebar-header.close {
        gap: 0;
    }
    #sidebar {
        background: #ccd0d8;
        color: #2d3c5a;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        padding: 1rem;
        height: 100%;
        width: 260px;
        overflow: hidden;
        text-wrap: nowrap;
    }
    #sidebar.close {
        align-items: center;
        padding: 0.5rem;
        width: 60px;
    }
    #menu-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding-top: 1rem;
        height: 100%;
    }
    #sidebar-menu {
        height: 100%;
    }
    #sidebar-title {
        font-weight: 600;
    }
    #sidebar-title.close {
        display: none;
    }
    #logo.close {
        display: none;
    }
    #button-toggle-menu {
        border-radius: 0.25rem;
    }
    #button-toggle-menu:hover {
        background: #2d3c5a;
    }
    #button-toggle-menu:hover svg {
        fill: white;
    }
    #button-toggle-menu.rotate {
        transform: rotate(180deg);
    }
    .menu-item {
        display: flex;
        align-items: center;
        border-radius: 0.25rem;
        padding: 0.5rem;
        gap: 0.5rem;
    }
    .menu-item:hover {
        background: #2d3c5a;
        color: white;
    }
    .menu-item:hover svg {
        fill: white;
    }
    .menu-item.active {
        background: #2d3c5a;
        color: white;
    }
    .menu-item.active svg {
        fill: white;
    }
    .menu-item-span.close {
        display: none;
    }

    @media (max-width: 768px) {
        #main-content {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        #container {
            flex-direction: column-reverse;
        }
        #sidebar,
        #sidebar.close {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            width: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }
        #sidebar-menu {
            width: 100%;
        }
        #menu-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 0;
            gap: 2rem;
            width: 100%;
            height: 100%;
        }
        #sidebar-title {
            display: none;
        }
        #button-toggle-menu {
            display: none;
        }
        .menu-item-span {
            display: none;
        }
    }
</style>

<script>
    const aside = document.getElementById("sidebar");
    const toggleButton = document.getElementById("button-toggle-menu");
    const sidebarTitle = document.getElementById("sidebar-title");
    const sidebarHeader = document.getElementById("sidebar-header");
    const logo = document.getElementById("logo");
    const signOut = document.getElementById("sign-out");
    const menuItemSpan = document.getElementsByClassName("menu-item-span");

    if (
        aside &&
        toggleButton &&
        sidebarTitle &&
        logo &&
        menuItemSpan &&
        sidebarHeader
    ) {
        // Toggle sidebar
        toggleButton.addEventListener("click", () => {
            aside.classList.toggle("close");
            toggleButton.classList.toggle("rotate");
            sidebarTitle.classList.toggle("close");
            sidebarHeader.classList.toggle("close");
            logo.classList.toggle("close");
            for (let i = 0; i < menuItemSpan.length; i++) {
                menuItemSpan[i].classList.toggle("close");
            }
        });
    }

    if (signOut) {
        signOut.addEventListener("click", async () => {
            const confirmSignOut = confirm("¿Cerrar sesión?");
            if (!confirmSignOut) {
                return;
            }
            try {
                const response = await fetch(
                    "http://localhost:4321/api/auth/signout", // API endopoint to sign out
                );
                if (response.ok) {
                    window.location.href = "http://localhost:4321/signin"; // Redirect to sign-in page if sign out is successful
                } else {
                    alert("Error al cerrar sesión");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error al cerrar sesión");
            }
        });
    }
</script>
