---
import SideBarMenu from "../components/SideBarMenu.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Artículo 35</title>
	</head>
	<body id="container" class="h-dvh p-4 bg-[#2D3C5A] flex">
		<SideBarMenu />
		<main
			id="main-content"
			class="flex w-full h-full bg-[#F0F2F6] rounded-r overflow-auto p-4"
		>
			<slot />
		</main>
	</body>
</html>

<style>
	body.blur {
		filter: blur(5px);
	}
</style>
